@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* base rule */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}


p,
li,
a {

    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 2.3rem;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}




/* theme */
:root {
    --main-color: #55c6ee;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --bnt-hover-bg-color: #1050b7;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}




/* layout */

.container {
    max-width: 128rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

.section-learn .container:first-child {
    padding: 6.4rem 0 2.4rem 0;
}

.section-about .container:first-child,
.section-services .container:first-child {
    padding: 6.4rem 0 2.4rem 0;
}

.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}



/* module-reusable */

.btn {
    padding: 1.2rem 3.2rem;
    background-color: var(--hero-heading-color);
    display: inline-block;
    color: var(--white-color);
    border-radius: .6rem;
}


.section-common-heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-common-subheading {
    color: var(--heading-color);
}

.section-common--title {
    font-size: 2rem;
    margin: 3rem 0 1.5rem 0;
    font-weight: 600;
}


/* states */

.btn:hover {
    background-color: var(--bnt-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}















/* ---------navbar section------- */

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.4rem;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;


    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -.3rem;
            left: 0;
            width: 0%;
            border-bottom: .2rem solid var(--main-color);
            transition: all linear 0.3s;
        }
    }


    & li a:hover:after {
        width: 100%;
    }
}


/* ---------End navbar section------- */







/***** Hero-Section *****/

main {
    background-image: linear-gradient(to top right,
            #f4f1f1,
            #f4f1f1,
            #f4f1f1,
            #f4f1f1,
            #f4f1f1);

    position: relative;
}


.section-hero .grid {
    align-items: center;
    gap: 6.4rem;

    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: .2rem;
        color: var(--font-color);
    }

    & .hero-heading {
        font-size: 5.8rem;
        /* line-height: 5.5rem; */
        font-family: "Urbanist", sans-serif;
        color: var(--footer-bg-color);
        font-weight: 700;
    }

    & .hero-para {
        color: var(--para-color);
        margin: 2rem 0 4rem 0;
    }
}

.section-hero--image img {
    width: 100%;
    height: auto;
}

/***** waves *****/

.custom-shape-divider-bottom-1720021813 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720021813 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1720021813 .shape-fill {
    fill: #FFFFFF;
}

/***** End waves *****/




/***** End Hero-Section *****/





/***** About Section *****/

.section-about .about-div {
    text-align: center;
}

.section-about .grid {
    gap: 6.4rem;
}

.section-about .icon {
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;

}

.section-about img {
    padding: 2.4rem;
    width: 15rem;
    height: auto;
    transition: all linear 0.3s;
}

.about-div .icon>img:hover {
    rotate: 360deg;
}

/***** End About Section *****/






/***** services Section *****/

.section-services {
    background-color: var(--bg-color);
}

.section-services .service-div {
    /* text-align: center; */
    padding: 3.2rem;
    transition: box-shadow linear .3s;
    border-radius: 10px;
}


.section-services .grid {
    gap: 3.2rem;
}


.section-services .service-div:hover {
    box-shadow: var(--btn-box-shadow)
}

/***** End services Section *****/






/***** Learn Section *****/

.section-learn .grid {

    gap: 9.6rem;
}

.learn-left--div {}

.learn-div {
    margin-top: 3.2rem;
}

.section-learn .text-align-right .learn-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}

.learn-icon {
    width: 8rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.learn-center--div,
.learn-center--div figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-center--div figure {
    position: relative;
}

.learn-center--div figure img {}

.learn-center--div figure::before,
.learn-center--div figure::after {
    position: absolute;
    content: "";
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    /* z-index: 0; */
    background-color: #3381ff;
    z-index: -1;

}

.learn-center--div figure::after {
    z-index: -2;
    width: 40rem;
    height: 40rem;
    background: transparent;
    border: 0.5rem solid var(--supporting-color);
}

.learn-center--div figure::before {
    animation: circle 5s linear infinite;
}

.learn-center--div img {
    width: 90%;
    height: auto;
}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }

}

/***** End Learn Section *****/



/***** contact-home Section *****/



.section-contact-homepage {
    width: 50%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: var(--btn-box-shadow);
    margin-bottom: 5rem;
    border-radius: 02rem;
    padding: 0 3.2rem;
    position: relative;
    bottom: -20rem;
    background-color: var(--white-color);

    & .grid {
        align-items: center;
    }
}

.section-contact-homepage .container {
    padding: 3.2rem 0;
    margin: auto;
}

.contact-title {
    font-size: 3.8rem;
    line-height: 1.2;
}

.contact-content p {
    margin: 1.2rem 0 2.4rem 0;
}

.contact-image {
    display: flex;
    justify-content: end;
}

.section-contact-homepage img {
    width: 80%;
    height: auto;
    aspect-ratio: 2/2;
    object-fit: cover;
}


.section-contact-homepage a {
    color: var(--white-color);
}

.section-contact-homepage .btn {
    background-color: #4d7881;
}

/* .section-contact-homepage .btn .fa-solid{
    color: #fece79;
    background-color: var(--);
} */
.section-contact-homepage .btn:hover {
    background-color: #2e3e57;
}


/***** End contact-home Section *****/








/***** footer Section *****/
footer {
    background-color: var(--footer-bg-color);
    padding-top: 15rem;
}

footer .grid {
    text-align: right;
}

footer * {
    color: var(--white-color);
}


.footer-subheading {
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-1--div p {
    margin: 1rem 0 3rem 0;
}


.footer-1--div {
    text-align: left;

    & .social-footer--icons {
        display: flex;
        gap: 2.4rem;



        & .fa-brands {
            width: 5rem;
            aspect-ratio: 1;
            background-color: var(--supporting-color);
            color: var(--bnt-hover-bg-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s linear;

            &:hover {
                color: var(--supporting-color);
                background-color: var(--bnt-hover-bg-color);
                rotate: 360deg;
            }
        }
    }
}

/***** End footer Section *****/






/***** learn page Section *****/

.section-learn {

    & .grid {
        gap: 6.4rem;
    }

    & .learn {
        box-shadow: var(--btn-box-shadow);
        transition: scale 0.3s linear;

        &:hover {
            scale: 1.1;
        }

        & .learn-content {
            padding: 1.4rem 2.4rem 2.4rem;
        }
    }

    background-color: var(--bg-color);

    & img {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
        height: auto;
    }

    & .learn-date {
        display: flex;
        justify-content: space-between;
        margin-top: 1.6rem;
        font-size: 1.4rem;

        & .fa-solid {
            width: 3rem;
            aspect-ratio: 1;
            background-color: var(--bg-color);
            color: var(--bnt-hover-bg-color);
            border-radius: 50%;
            padding: 0;
        }
    }

    & .section-common--title {
        margin-top: 0.8rem;
        /* font-size: 1.9rem; */
    }
}


/***** End learn page Section *****/